# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.xcscheme
xcschememanagement.plist
*.ipch
LocalStorage/Core/x64/
x64/
*.opensdf
.vs/
*.sdf
Android/boost/ARM/
LocalStorage/Core/Debug/Core.idb
*.VC.VC.opendb
*.VC.db
LocalStorage/Core/Debug/
ARM/
